<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <!--
        <testsuite name="Steelbot Telegram Bot API">
            <directory>./tests</directory>
        </testsuite> -->
        <testsuite name="Tools Suite">
            <directory>tests/Tools</directory>
        </testsuite>

    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
