<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Steelbot Telegram Bot API">
      <file>./tests/Method/GetMeTest.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </source>
</phpunit>
